<h1>Home#movie</h1>
<p>Find me in app/views/home/movie.html.erb</p>

<%= "#{@movie_title}" %> </br>
<%= "#{@movie_year}" %> </br>
<%= "#{@movie_length}" %> </br>
<%= "#{@movie_genres}" %> </br>
<%= "#{@movie_won}" %> </br>
</br>
<%= link_to("Back To Home", {:action => 'index'}) %>
